@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

@font-face {
  font-family: "Verdana";
  src: url("/fonts/verdana.woff2") format("woff2"),
    url("/fonts/verdana.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* globals.css */

@font-face {
  font-family: "Kapra Bold";
  src: url("/fonts/KapraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
h1 {
  font-family: "Kapra Bold", sans-serif;
}
li {
  margin-bottom: 15px;
  cursor: pointer;
}
html {
  font-family: "Verdana", sans-serif;
}
.nav-category {
  color: white;
  margin: 20px 20px 20px 0px;
}

@media only screen and (min-width: 35.25em) and (max-width: 63.1875em) {
  .header__slogan,
  .header__bn {
    display: none;
  }
  .navbar__pc {
    display: none;
  }
  .navbar__mobile {
    display: block;
  }
  .card {
    width: 100%;
  }
  .card__img {
    /* flex-direction: column; */
    width: 240px;
    height: 180px;
  }
  .card__title--pc {
    display: none;
  }
  .card__title--mobile {
    display: block;
  }
  .shortcut {
    display: none;
  }
}
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
